.Memo--badActor,
.Memo--fromNegativeRepUser,
.Memo--noPermission {
    .bad-actor-caution,
    .from-negative-rep-user-caution,
    .no-permission-caution {
        color: darken($color-red, 10%);
        font-size: 75%;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .bad-actor-explained,
    .from-negative-rep-user-explained,
    .no-permission-explained {
        opacity: 0.5;
        font-size: 75%;
        max-width: 30em;
    }
    .bad-actor-reveal-memo,
    .from-negative-rep-user-reveal-memo {
        opacity: 0.5;
        font-size: 75%;
        text-decoration: underline;
    }
}
.hidden {
    display: none;
}
.hidden-less-than1 {
    display: none;
}
