.filter__button {
    &:hover {
        cursor: pointer;
        color: red;
    }

    // margin-bottom: 20px;
    font-weight: 700;
    // font-size: 18px;
    color: #788187;
    text-transform: to-lower-case;
}
// .filters__section {
//     margin-top: 50px;
// }
.active {
    color: #333;
}
